{{- /*
  A dark console / terminal sample with blue prompt prefixes.

    {{< console >}}
    - "Run started. Score: 0"
    - "Stacked first red cube. Score: 9"
    - "Stacked second red cube. Score: 20"
    {{< /console >}}
*/ -}}
{{- $lines := .Inner | transform.Unmarshal -}}
{{- if not $lines }}{{ errorf `%s: console needs a YAML list of lines` .Position }}{{ end -}}
<div class="console">{{- range $i, $line := $lines -}}{{- if $i }}
{{ end -}}<span class="pl">&gt;</span> {{ $line -}}{{- end -}}</div>
